<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tahoma:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link type="text/css" rel="stylesheet" href="/style.css" />
  </head>
    <% if @session == nil %>
      <a href='/login' class='log_button'>login</a>
    <% else %>
    <a href='/logout' class='log_button'>logout</a>
    <a href='/account' class='log_button'>account</a>
    <a class='list_button' href="/spaces/new">list a new space? </a>
    <% end %>
    <a href='/spaces' class='log_button'>spaces</a>

  <div class="request_box_3">
    <body>
      <span style="font-weight:900">Request to book:</span> <%= @space.name %><br />
      <span style="font-weight:900">Requested for:</span> <%= @pending_request.date %><br />
      <span style="font-weight:900">Requested by:</span>  <%= @user.name %><br />
      <span style="font-weight:900">Email:</span> <%= @user.email %>

      <form action="/accept_request" method="POST">
        <input type="hidden" name="request_id" value="<%= @pending_request.id %>">
        <input type="submit" class="input__signup_3" value="Accept Request">
        <input type="submit" class="input__signup_2" value="Decline Request">
      </form>
    </body>
  </div>

</html>